# Dependency directories
/node_modules

# Distribution directories
/dist
/dist-test

# IDE and editor files
/.vscode
/.idea

# Log files
/logs

# Environment files
/.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
.env.backup

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# TypeScript cache
node_modules/.cache/

# database
mongodb-data/
data/
local/

#github
.gitmessage.txt